<configuration>
    <system.webServer>
        <rewrite>
            <rules>

                <rule name="Remove trailing slash" stopProcessing="true">
                    <match url="(.+)/$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Redirect" url="{R:1}" redirectType="Permanent" />
                </rule>

                <rule name="Allow existing files" stopProcessing="true">
                    <match url=".*" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" />
                    </conditions>
                    <action type="None" />
                </rule>

                <rule name="Rewrite root pages to html" stopProcessing="true">
                    <match url="^([^/]+)$" />
                    <conditions>
                        <add input="{APPL_PHYSICAL_PATH}{R:1}.html" matchType="IsFile" />
                    </conditions>
                    <action type="Rewrite" url="/{R:1}.html" />
                </rule>

                <rule name="Rewrite subpath pages to html" stopProcessing="true">
                    <match url="^([^/]+)/([^/]+)$" />
                    <conditions>
                        <add input="{APPL_PHYSICAL_PATH}{R:1}\{R:2}.html" matchType="IsFile" />
                    </conditions>
                    <action type="Rewrite" url="/{R:1}/{R:2}.html" />
                </rule>

            </rules>
        </rewrite>

        <defaultDocument>
            <files>
                <clear />
                <add value="index.html" />
            </files>
        </defaultDocument>

        <httpErrors errorMode="Custom" existingResponse="Replace">
            <remove statusCode="401" subStatusCode="-1" />
            <error statusCode="401" path="/errores/401.htm" responseMode="ExecuteURL" />

            <remove statusCode="403" subStatusCode="-1" />
            <error statusCode="403" path="/errores/403.htm" responseMode="ExecuteURL" />

            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" path="/errores/404.htm" responseMode="ExecuteURL" />

            <remove statusCode="405" subStatusCode="-1" />
            <error statusCode="405" path="/errores/405.htm" responseMode="ExecuteURL" />

            <remove statusCode="406" subStatusCode="-1" />
            <error statusCode="406" path="/errores/406.htm" responseMode="ExecuteURL" />

            <remove statusCode="412" subStatusCode="-1" />
            <error statusCode="412" path="/errores/412.htm" responseMode="ExecuteURL" />

            <remove statusCode="431" subStatusCode="-1" />
            <error statusCode="431" path="/errores/431.htm" responseMode="ExecuteURL" />

            <remove statusCode="500" subStatusCode="-1" />
            <error statusCode="500" path="/errores/500.htm" responseMode="ExecuteURL" />

            <remove statusCode="501" subStatusCode="-1" />
            <error statusCode="501" path="/errores/501.htm" responseMode="ExecuteURL" />

            <remove statusCode="502" subStatusCode="-1" />
            <error statusCode="502" path="/errores/502.htm" responseMode="ExecuteURL" />
        </httpErrors>

    </system.webServer>
</configuration>